@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body{
    background-image: url('/src/components/img/bgImage.jpg');
    background-size:cover;
    background-position: center;
 
     background-repeat: no-repeat;
   
} */
